<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/jpg" href="#"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet"/>
    <link rel="stylesheet" href="../../dist/styles.css">
    <title>Wealth Generator</title>
</head>

<body class="flex flex-col items-center h-screen bg-red-200  ">

<h1 class="text-3xl"> Wealth Generator</h1>

<div class="flex p-6 w-1/2">

    <aside class="mx-4">
        <button class="rounded bg-green-200 block my-3 px-2 py-3 w-full font-bold " id="add-user">My New User</button>
        <button class="rounded bg-green-200 block my-3 px-2 py-3 w-full font-bold " id="double">Double Money</button>
        <button class="rounded bg-green-200 block my-3 px-2 py-3 w-full font-bold " id="show-millionaires">Show Only Millionaires</button>
        <button class="rounded bg-green-200 block my-3 px-2 py-3 w-full font-bold " id="sort">Sort by Richest</button>
        <button class="rounded bg-green-200 block my-3 px-2 py-3 w-full font-bold " id="calc-wealth">Calculate Entire Wealth</button>
    </aside>

    <main class="w-1/2 border-l-2 border-black mr-5 mx-3 px-3 text-center" id="main">
        <h2 class="border-b-2 border-black flex justify-between"><strong>Person</strong>Wealth</h2>
    </main>

</div>

<script src="/components/navbar/app.js"></script>

</body>
</html>